@import "tailwindcss";
@source "../**/*.{ts,tsx}";

@theme {
  --color-aethos-obsidian: #050505;
  --color-aethos-silver: #E5E5E5;
}

@layer base {
  body {
    background-color: var(--color-aethos-obsidian);
    color: var(--color-aethos-silver);
    font-family: Arial, Helvetica, sans-serif;
    cursor: none;
  }
}

a,
button,
[role="button"] {
  cursor: none !important;
}